 .google-photos-container {
    
    margin: 20px;
    width: 500px;
    height: 800px;
    border: 1px solid #ccc;
    border-radius: 14px;
    margin-left: 25%;
  }
  
  .google-photos-image {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px  ;
  }
  
  .subscribe-line {
    display: flex;
    align-items: center;
    margin-top: 30px;
    text-transform: uppercase;
    margin-left: 25px;
  }
  
  .subscribe-line i {
    margin-right: 10px;
    

  }
  .subscribe-line span{
    font-size: 18px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }
  .features-heading {
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
  }
  
  .features-description {
    font-family: system-ui;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .view-details-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;
    color: rgb(0, 81, 255);
    
  }